{% extends 'layouts/base.html'%}
{% load main %} 
 {% load static %} 
 {% block title %} icaretechnology | profile {% endblock%}
 {% block content %}
<div class="container">
    
 <br>
 {% include 'layouts/partials/inc/msg.html' %}

 <div class="row">
    <div class="col-md-3">

      <!-- Profile Image -->
      <div class="card card-primary card-outline">
        <div class="card-body box-profile">
          <div class="text-center">
            <img src="{{ user.profile.profile.url }}" class="profile-user-img img-fluid img-circle"  
            alt="." width="128px">
          </div>

          <h3 class="profile-username text-center">{{ request.user }}</h3>

          <p class="text-muted text-center">
           
          </p>

          <ul class="list-group list-group-unbordered mb-3">
            {% for group in request.user.groups.all %}
            <li class="list-group-item text-center">
              
         
              System <b>{{ group.name }} </b>

             
            </li>
            {% endfor  %}
          
          </ul>

          <a href="" class="btn btn-primary btn-block btn-sm"><b>ADMIN PANEL</b></a>
        </div>
        <!-- /.card-body -->
      </div>
      <br>
 
      <div class="card card-primary">
        <div class="card-header">
          <h3 class="card-title">About Me</h3>
        </div>
        <div class="card-body"><br>
          <strong><i class="fa fa-book mr-1"></i> Basic</strong>
          <ul class="list-group list-group-unbordered mb-3">
            <li class="list-group-item">
              First name:  <b><a class="float-right"> {{ user.username }} </b> </a>
            </li>
            <li class="list-group-item">
              Last Name:  <b><a class="float-right"> {{ user.last_name }} </b> </a>
            </li>
          
          </ul>

          <hr>
        {% if user.profile.location %}
          <strong><i class="fas fa-map-marker-alt mr-1"></i> Location</strong>

          <p class="text-muted">{{ user.profile.location }}</p>
         {% endif %}
          <hr>

        {% if user.profile.phone %}
          <strong><i class="fas fa-map-marker-alt mr-1"></i> Phone </strong>

          <p class="text-muted">{{ user.profile.phone }}</p>
         {% endif %}
          <hr>

        </div>
      </div>
    </div>
    <div class="col-md-9">
      <div class="card">
        <div class="card-header p-2">
          <ul class="nav nav-pills">
            <li class="nav-item"><a class="btn btn-primary active" href="#activity" data-toggle="tab">Profile</a></li>
          </ul>
        </div><!-- /.card-header -->

        <br><br>
        <div class="card-body">
          <div class="tab-content">
            <div class="active tab-pane" id="activity">
       
              <form action="{% url 'profile' %}" method="POST" enctype="multipart/form-data">

                {% csrf_token %} <br>
                {{ form.as_p }}
                <input type="submit" value="upload profile" class="btn btn-primary">
               </form>

           
            </div>
         


         
          </div>
          <!-- /.tab-content -->
        </div><!-- /.card-body -->
      </div>
      <!-- /.nav-tabs-custom -->
    </div>
    <!-- /.col -->
  </div>
</div>

 {% endblock %}