{% extends 'layouts/base.html' %} {% block content %} <br /><br /><br />
{% load humanize %}

<div class="container">

    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Your Duty</h4>
            <table class="table ">
                <thead>
                    <tr>
                        <th>guards </th>
                        <th>weapon</th>
                        <th>site</th>
                        <!-- <th>status</th> -->
                        <th>start_time</th>
                        <th>end_time</th>
                        <th>actions</th>
                    </tr>
                </thead>
                <tbody>
                    {%for activity in activities %}
                    <tr>
                        <td>
                           {% if activity.user == request.user %}
                           You
                           {% else %}
                           activity.use
                           {% endif  %}
                        </td>
                        <td>
                            {{ activity.weapon }}
                        </td>
                       
                        <td>
                            {{ activity.site }}
                        </td>
                        <!-- <td>{% if activity.status %}
                            <span style="color: green;"> Verified</span> 
                            {%else %}
                            <span style="color: red;">  Not Verified</span> 
                           
                            {%endif %}
                        </td> -->
                        <td>{{ activity.start_time |naturaltime }}</td>
                        <td>{{ activity.end_time}}</td>

                        <td class="py-1">
                            <a href="" class="btn btn-primary btn-sm">report</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<br>












{% endblock %}